.map {
    // position: relative;
    width: 100%;
    height: 100%;
}
.bgr {
    background: linear-gradient(to right, #006e9e 0%, #00afff 100%) !important ;
    color: white;
}
.panel-margin {
    margin: 3%;
}
.parent20 {
    padding: 15px;
    width: 50%;
    height: 60em;
    overflow: auto;
    border: 1px solid #ccc;
}
.child20 {
    ul {
        list-style-type: none;
      }
}
