<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="64px">
            <mat-icon class="type-icon" [ngClass]="document"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.name}}</mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container cdkColumnDef="date">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Fecha</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.date}}</mat-cell>
    </ng-container>

    <!-- Detail Button Column -->
    <ng-container cdkColumnDef="detail-button">
        <mat-header-cell *cdkHeaderCellDef fxFlex="48px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="48px">
            <button mat-icon-button class="sidebar-toggle" (click)="toggleSidebar('file-manager-details-sidebar')">
                <mat-icon class="secondary-text">info</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <!-- Detail Button Column -->
    <ng-container cdkColumnDef="delete-button">
        <mat-header-cell *cdkHeaderCellDef fxFlex="48px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="48px">
            <button mat-icon-button class="sidebar-toggle" (click)="toggleSidebar('file-manager-details-sidebar')">
                <mat-icon class="secondary-text">delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)" [ngClass]="{'mat-accent-50-bg':row == selected}"
        matRipple [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>

</mat-table>