<div id="dashboard-analytics" class="page-layout blank grey-100-bg">
    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    
            <div class="hero-text">
                <mat-icon class="hero-icon">show_chart</mat-icon>
                <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                    Generador de Gráficas
                </h1>
                <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                    Visualizar Datos
    
                </h3>
            </div>
    
        </div>
        <!-- / HEADER -->
        <div class="toogle-btns">
                <button mat-raised-button class="btn" (click)="changeGrid('option1')">Opcion 1</button>
                <button mat-raised-button class="btn" (click)="changeGrid('option2')">Opcion 2</button>
        </div>
    <!-- Panel -->
    
    <div class="row-flex">
      <div 
       [ngClass]="{'column-100': optionGrid == 'option1',
                    'column-25': optionGrid == 'option2' }"  >
                    <div class=" font-size-18 font-weight-300 panel-margin" >
                            Filtros
                         </div>
      <div class="panel-margin">
            
        <mat-card>
            <mat-card-header>
                <p>
                    Variables:
                </p>
            </mat-card-header>

            <div class="flexbox-panel">
                <div>
                    <!-- Y -->
                    <mat-form-field appearance="fill">
                        <mat-label>Eje Y</mat-label>
                        <mat-select placeholder=" Seleccione Columna" aria-label="State" [(ngModel)]="optionY" #yValue (selectionChange)="setfilters()">
                            <mat-option *ngFor="let y of optionNumeric" [value]="y">{{y}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <!-- X -->
                    <mat-form-field appearance="fill">
                        <mat-label>Eje X</mat-label>
                        <mat-select placeholder=" Seleccione Columna" aria-label="State" [(ngModel)]="optionX" #xValue (selectionChange)="setfilters()">
                            <mat-option *ngFor="let x of optionString" [value]="x">{{x}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>


        </mat-card>
    </div>  
    </div>
    <div [ngClass]="{'column-100': optionGrid == 'option1',
    'column-75': optionGrid == 'option2' }">
    <div class=" font-size-18 font-weight-300 panel-margin">
        Datos Graficados
    </div>
    <div>
        <app-general-chart title='' 
    [lineChartData]="lineChartData" 
    [lineChartLabels]="lineChartLabels" 
    [showdChart]="showdChart"
    [titleX]="optionX"
    lineChartType='line'
    ></app-general-chart>
    </div> 
    </div>  
    </div>
    
   
    

</div>